<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="xiaoma">
    <meta name="keywords" content="HTML,CSS,JavaScript,React,Vue,前端开发,自动化">
    <meta name="description" content="小马的博客，记录了工作学习中的点点滴滴，包括：前端开发、后端开发、移动开发等相关知识，只希望自己的每次记录都有些许突破～～">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>小马的博客</title>
    <link rel="shortcut icon" href="http://img.dobit.top/favicon">
    <link rel="preload" href="https://fonts.gstatic.com/s/audiowide/v4/8XtYtNKEyyZh481XVWfVOpBw1xU1rKptJj_0jans920.woff2" as="font">
</head>

<body>
    <div id="J-container"></div>
    <%=htmlWebpackPlugin.files.webpackManifest%>
</body>

</html>