    @import "./css/reset";
    @import "./css/flexbox";
    @import "./css/iconfont";
    @import "./css/toast";
    * {
        font-family: STheiti, Verdana, 'Microsoft Yahei', arial, sans-serif;
        -webkit-font-smoothing: antialiased;
    }
    
    html,
    body {
        height: 100%;
    }
    
    #J-container {
        min-height: 100%;
        position: relative;
    }
    
    a {
        text-decoration: none;
    }
    
    .only_pc_show {
        display: block;
    }
    
    .only_mobile_show {
        display: none;
    }
    
    .page_container {
        max-width: 1170px;
        margin: 0 auto;
    }
    
    .header_fix {
        padding-top: 72px;
    } //中间内容部分的标题
    .center_title {
        font-size: 24px;
        color: black;
        line-height: 36px;
        margin-bottom: 30px;
    }
    /*导航条组件*/
    /*pc logo自定义字体 latin-ext */
    
    @font-face {
        font-family: 'Audiowide';
        font-style: normal;
        font-weight: 400;
        src: local('Audiowide'), local('Audiowide-Regular'), url(https://fonts.gstatic.com/s/audiowide/v4/7pSgz2MbVvTCvvm7vukSH4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
        unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Audiowide';
        font-style: normal;
        font-weight: 400;
        src: local('Audiowide'), local('Audiowide-Regular'), url(https://fonts.gstatic.com/s/audiowide/v4/8XtYtNKEyyZh481XVWfVOpBw1xU1rKptJj_0jans920.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    }
    
    .header {
        z-index: 99;
        position: fixed;
        left: 0;
        right: 0;
        top: 0; //pc导航条背景色
        &.header_bg_white {
            background: #FFFFFF;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
        } //mobile导航条背景色
        &.header_bg_black {
            background: #000000;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        } //pc导航条内容
        .nav_PC {
            @include flexbox;
            @include align-items(center);
            height: 72px; // 博客logo
            .nav_logo {
                font-family: 'Audiowide', cursive;
                font-size: 30px;
                color: #000000;
            } //菜单
            .nav_menus {
                @include flex(1);
                text-align: right;
                margin-right: 40px;
                .nav_menu {
                    position: relative;
                    display: inline-block;
                    &:hover {
                        .nav_submenus {
                            opacity: 1;
                            pointer-events: auto;
                        }
                    }
                } // 子菜单
                .nav_submenus {
                    position: absolute;
                    left: 0;
                    top: 32px;
                    background: #FFFFFF;
                    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
                    opacity: 0;
                    pointer-events: none;
                    transition: all 0.2s ease-in-out;
                }
                .nav_submenu {
                    text-align: center
                } //子菜单end
                .nav_link,
                .nav_sublink {
                    display: block;
                    padding: 0 18px;
                    line-height: 33px;
                    font-size: 15px;
                    color: #666;
                }
                .nav_link_no {
                    cursor: pointer;
                }
                .nav_sublink {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
                }
                .nav_link_active {
                    color: #0c94d7;
                }
                .nav_sublink_active {
                    background: #0c94d7;
                    color: white;
                }
                .nav_link:hover {
                    @extend .nav_link_active;
                }
                .nav_sublink:hover {
                    @extend .nav_sublink_active;
                }
            } //搜索图标
            .icon-search {
                font-size: 30px;
                color: #666;
                cursor: pointer;
            }
            .search_area {
                display: none;
                position: relative;
                &.search_area_show {
                    display: block;
                }
                .icon-search {
                    font-size: 15px;
                    position: absolute;
                    right: 10px;
                    top: 9px;
                }
            }
            .search_input {
                padding: 10px;
                width: 180px;
                font-size: 13px;
                outline: none;
                border-radius: 4px;
                border: 1px solid #d7dadb;
                &:focus,
                &:active {
                    border-color: #1196d8;
                }
            }
        } //mobile导航条内容
        .nav_mobile {
            .nav_header {
                height: 55px;
                line-height: 55px;
            }
            .nav_categories,
            .nav_logo,
            .nav_search {
                float: left;
                text-align: center;
            }
            .nav_categories,
            .nav_search {
                width: 15%;
                .iconfont {
                    font-weight: bold;
                    font-size: 19px;
                    color: #FFFFFF;
                }
            }
            .nav_logo {
                width: 70%;
                font-size: 20px;
                color: #d3d3d3;
            }
            .search_area {
                display: none;
                position: relative;
                padding: 5px 15px 20px 10px;
                &.search_area_show {
                    display: block;
                }
                .icon-search {
                    font-weight: bold;
                    font-size: 22px;
                    position: absolute;
                    right: 25px;
                    top: 9px;
                    color: #fff;
                }
            }
            .search_input {
                border: none;
                outline: none;
                box-sizing: border-box;
                display: block;
                padding: 0 30px 0 10px;
                width: 100%;
                height: 36px;
                color: #d3d3d3;
                background: rgba(255, 255, 255, .1);
            }
        } //左侧弹窗导航条
        .nav_menus_mask {
            position: fixed;
            top: 55px;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.3);
            transform: translateX(-100%);
            transition: all 0.2s ease-in-out;
        }
        .nav_menus_left {
            position: fixed;
            top: 55px;
            bottom: 0;
            left: 0;
            right: 100px;
            padding: 10px 30px;
            background: #000000;
            transform: translateX(-100%);
            transition: all 0.2s ease-in-out;
            .nav_link,
            .nav_sublink {
                display: block;
                line-height: 35px;
                font-size: 15px;
                color: #d3d3d3;
            }
            .nav_submenus {
                padding: 0 30px;
            }
        }
        .nav_menus_show {
            transform: translateX(0);
        }
    } // banner图片
    .banner {
        width: 100%;
        height: 150px;
        background: url('http://img.dobit.top/bridge.jpg') center top no-repeat;
        background-size: cover;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
        .banner_logo {
            display: block;
            font-size: 27px;
            color: #FFFFFF;
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    } // 内容展示区域
    .content {
        padding-bottom: 50px;
        margin-top: 30px;
        @include flexbox;
        .side_left {
            width: 170px;
            margin-right: 40px;
        }
        .main {
            // @include flex(1);
            width: 650px;
        }
        .side_right {
            width: 270px;
            margin-left: 40px;
        }
    } //左/右侧"标题展示"组件(通用)
    .title {
        border-top: 1px solid #eee;
        .iconfont {
            color: #333;
            font-size: 15px;
            margin-right: 8px;
        }
        .title_name {
            position: relative;
            top: -1px;
            display: inline-block;
            padding: 15px 0;
            font-size: 15px;
            font-weight: bold;
            color: #333;
            border-top: 1px solid black;
        }
    } // 左侧类目展示（一级菜单、二级菜单）
    .type {
        margin-bottom: 25px;
        .type_item,
        .subtype_item {
            position: relative;
            font-size: 13px;
            line-height: 2;
            padding-left: 15px;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 9px;
                width: 4px;
                height: 4px;
                border: 1px solid #ccc;
                border-left: none;
                border-bottom: none;
                transform: rotate(45deg);
            }
        }
        .type_link {
            display: block;
            color: #666;
            &:hover,
            &.type_link_active {
                color: #0c94d7;
            }
        }
    } // 最新文章和最热文章列表
    .article {
        margin-bottom: 25px;
        .article_item {
            padding-bottom: 15px;
            margin-bottom: 15px;
            overflow: hidden;
            &:not(:last-child) {
                border-bottom: 1px solid #eee;
            }
        }
        .article_link {
            position: relative;
            float: left;
            width: 80px;
            height: 53px;
            font-size: 0;
            margin-right: 10px;
            overflow: hidden;
            /*background: #f5f5f5;*/
        }
        .article_img {
            max-width: 80px;
            max-height: 53px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .article_info {
            overflow: hidden;
        }
        .article_title {
            margin-bottom: 8px;
            height: 34px;
            color: #7f7f7f;
            font-size: 13px;
            line-height: 17px;
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            &:hover {
                color: #0c94d7;
            }
        }
        .article_other {
            font-size: 12px;
        }
        .article_type {
            color: #0c94d7;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
        .article_click {
            float: right;
            color: #7f7f7f;
            .icon-liulan {
                font-size: 12px;
                margin-right: 5px;
            }
        }
    } // 标签展示
    .tag {
        margin-bottom: 25px;
        overflow: hidden;
        .tag_item {
            float: left;
            margin: 0 10px 10px 0;
        }
        .tag_link {
            display: block;
            padding: 4px 10px;
            font-size: 13px;
            color: #666;
            background: #eee;
            border-radius: 99px;
            &.tag_link_active,
            &:hover {
                background: #0c94d7;
                color: #fff;
            }
        }
    } //中间文章列表展示
    .articles {
        .articles_item {
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid #eee;
            overflow: hidden;
        }
        .articles_img_container {
            position: relative;
            float: left;
            width: 210px;
            height: 140px;
            font-size: 0;
            margin-right: 20px;
            overflow: hidden;
            background: transparent;
        }
        .articles_img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .articles_info {
            overflow: hidden;
        }
        .articles_describe {
            height: 110px;
            overflow: hidden;
        }
        .articles_name {
            display: block;
            margin-bottom: 10px;
            font-size: 18px;
            color: black;
            line-height: 26px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            &:hover {
                color: #0c94d7;
            }
        }
        .articles_content {
            margin-bottom: 10px;
            font-size: 15px;
            color: #666;
            line-height: 21px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        .articles_tags {
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px dashed #eee;
            font-size: 13px;
            line-height: 20px;
        }
        .artticles_read {
            float: right;
            color: #b2b2b2;
            &:hover {
                color: #0c94d7;
            }
        }
        .articles_tag {
            margin-right: 20px;
            color: #b2b2b2;
        }
        .iconfont {
            font-size: 13px;
            margin-right: 6px;
        }
        .no_articles {
            padding: 10px 0;
            font-size: 13px;
            color: #666;
            text-align: center;
            background-color: #f5f5f5;
            border-radius: 4px;
        }
    }
    /*中间——分页*/
    
    .pager {
        text-align: center;
        margin-bottom: 30px;
        .pager_button {
            outline: none;
            width: 100%;
            padding: 10px 0;
            font-size: 18px;
            color: #666;
            background: #f5f5f5;
            border: 1px solid #e6e6e6;
            border-radius: 4px;
            &.pager_button_disabled {
                color: #ccc;
            }
        }
        .pager_change {
            text-align: left
        }
        .pager_next {
            float: right;
        }
        .pager_item,
        .ellipsis {
            display: inline-block;
            padding: 8px 13px;
            margin: 0 2px;
            font-size: 12px;
            color: #666;
        }
        .pager_item {
            background: #fff;
            border: 1px solid #eee;
            border-radius: 3px;
            cursor: pointer;
            &.pager_item_active {
                color: #fff;
                background: #0c94d7;
                border-color: #0c94d7;
            }
            &.pager_item_disabled {
                color: #ccc;
                cursor: not-allowed;
            }
        }
    }
    /*中间——文章信息*/
    
    .articleInfo {
        margin-bottom: 30px;
        padding-bottom: 10px;
        /*文章详情*/
        .detail {
            font-size: 13px;
            color: #666;
            a {
                color: #666;
                word-wrap: break-word;
            }
            .detail_name {
                font-size: 30px;
                color: black;
                line-height: 45px;
                margin-bottom: 15px;
            }
            .detail_tags {
                margin-bottom: 30px;
                line-height: 20px;
            }
            .detail_tag {
                margin-right: 20px;
                color: #b2b2b2;
            }
            .iconfont {
                font-size: 13px;
                margin-right: 6px;
            }
            .article_type {
                float: right;
                display: block;
                padding: 0 8px;
                color: white;
                background: #ee916f;
            }
            .detail_content {
                margin-bottom: 50px;
                font-size: 15px;
                line-height: 23px;
                p,
                pre {
                    margin-bottom: 10px;
                }
                img {
                    max-width: 100%;
                }
                ul {
                    padding-left: 20px;
                }
                pre {
                    /*display: block;
            overflow-x: auto;
            padding: 8px;
            font-family: monospace;
            font-size: 12px;
            line-height: 1.2;
            color: rgb(220, 220, 220);
            background: rgb(63, 63, 63);*/
                    padding: 10px;
                    font-family: "Lucida Console", Consolas, Monaco;
                    font-size: 12px;
                    color: #0c94d7;
                    line-height: 1.4;
                    white-space: pre-wrap;
                    word-break: break-all;
                    background: #f5f5f5;
                    background-color: rgba(0, 0, 0, .07);
                    border: 1px dashed #ccc;
                }
            }
            .article_tags {
                margin-bottom: 20px;
                overflow: hidden;
                line-height: 23px;
                ul {
                    overflow: hidden;
                }
            }
            .article_tag {
                display: inline-block;
                padding: 0 13px;
                margin-left: 10px;
                background: #eee;
                border-radius: 99px;
                cursor: pointer;
                &:hover {
                    color: #0c94d7;
                }
            }
            .description {
                float: left;
                font-weight: bold;
            }
            .bdsharebuttonbox a {
                margin: 0 2px 0 0;
            }
            .reprinted_tips {
                margin: 20px 0 15px;
                padding: 10px;
                background: #f8eedb;
                border-radius: 2px;
                list-style-type: square;
                line-height: 2;
                padding-left: 25px;
            }
            .switch_article {
                padding-bottom: 20px;
                margin-bottom: 30px;
                border-bottom: 1px solid #eee;
                font-size: 14px;
                a {
                    display: block;
                    height: 21px;
                    line-height: 21px;
                    margin-bottom: 10px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    &:hover .article_title {
                        color: #0c94d7;
                    }
                }
            }
            .prev_article,
            .next_article {
                color: #ccc;
                margin-right: 10px;
            }
        }
        /*展示有多少条评论*/
        .article_comment_title {
            margin-bottom: 20px;
            font-size: 15px;
            font-weight: bold;
            color: #666;
        }
        /*评论输入框*/
        .comment {
            .reply_info {
                margin-bottom: 20px;
                overflow: hidden;
                color: #666;
                line-height: 24px;
                span {
                    font-size: 15px;
                }
                button {
                    outline: none;
                    float: right;
                    padding: 0 10px;
                    height: 24px;
                    font-size: 12px;
                    border: 1px solid #e6e6e6;
                    background: #f5f5f5;
                    border-radius: 2px;
                    &:hover {
                        color: #0c94d7;
                    }
                }
            }
            .user_info {
                margin-bottom: 15px;
                font-size: 0;
            }
            .user_image {
                width: 42px;
                height: 42px;
                border-radius: 4px;
                margin-right: 10px;
            }
            .user_name {
                font-size: 14px;
                font-weight: bold;
                color: #0c94d7;
                vertical-align: bottom;
            }
            form {
                margin-bottom: 40px;
            }
            .comment_input {
                position: relative;
                margin-bottom: 10px;
                input,
                textarea {
                    box-sizing: border-box;
                    outline: none;
                    padding: 10px 8px 10px 40px;
                    border: 1px solid #d7dadb;
                    font-size: 12px;
                    color: #000000;
                }
                input {
                    width: 50%;
                    padding: 10px 8px 10px 40px;
                }
                textarea {
                    width: 100%;
                    height: 80px;
                    padding: 18px 15px;
                    border-bottom: none;
                    resize: none;
                }
                 ::-webkit-input-placeholder,
                 ::-moz-placeholder,
                 ::-ms-input-placeholder {
                    color: #666
                }
                .iconfont {
                    position: absolute;
                    top: 50%;
                    left: 16px;
                    transform: translateY(-50%);
                    font-size: 12px;
                    color: #dcddde;
                }
            }
            .comment_value {
                margin-bottom: 0;
                font-size: 0;
            }
            .comment_btn {
                margin-bottom: 10px;
                height: 29px;
                text-align: right;
                border: 1px solid #d7dadb;
                border-top: none;
                background: #f5f6f7;
            }
            .comment_submit {
                .iconfont {
                    position: relative;
                    top: 1px;
                    font-size: 12px;
                    margin-right: 5px;
                }
                outline: none;
                border: none;
                padding: 0 24px;
                margin-right: -1px;
                height: 30px;
                font-weight: bold;
                color: white;
                cursor: pointer;
                background: #0093da;
                &:hover {
                    background: #0084c4;
                }
            }
        }
        /*评论列表*/
        .comment_list {
            .comment_info {
                overflow: hidden
            }
            .user_img_container {
                width: 50px;
                height: 50px;
                margin-right: 15px;
                border-radius: 50%;
                float: left;
                overflow: hidden;
            }
            .comment_item {
                overflow: hidden;
                padding-bottom: 15px;
                margin-bottom: 20px;
                border-bottom: 1px solid #eee;
            }
            .comment_content {
                font-size: 15px;
                color: #666;
                line-height: 23px;
                margin-bottom: 8px;
            }
            .comment_other {
                font-size: 13px;
                color: #b2b2b2;
                line-height: 19px;
                .iconfont {
                    font-size: 13px;
                    color: #b2b2b2;
                    margin-right: 2px;
                }
                span {
                    margin-right: 15px;
                }
                .comment_reply {
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                        color: #0c94d7;
                    }
                }
            }
            .replay_comment_list {
                padding-left: 65px;
            }
        }
    }
    /*前端资源库*/
    
    .resource {
        font-size: 15px;
        .resource_desc {
            color: #666;
            line-height: 23px;
            margin-bottom: 20px;
        }
        .resource_container {
            padding: 20px 20px 10px;
            border-radius: 4px;
            box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
        }
        .resource_part {
            margin-bottom: 10px;
        }
        .resource_type {
            font-weight: bold;
            color: #333;
            margin-bottom: 10px;
        }
        .resource_list {
            overflow: hidden;
        }
        .resource_item {
            float: left;
            padding: 0 10px;
            a {
                display: block;
                padding: 15px 0;
                color: #666;
                &:hover {
                    color: #0c94d7;
                }
            }
        }
    }
    /*关于我*/
    
    .self {
        .self_info {
            font-size: 15px;
            line-height: 25px;
        }
        a {
            color: #222;
            &:hover {
                color: #0c94d7;
            }
        }
    }
    /*回到顶部*/
    
    .to_top {
        z-index: 10;
        position: fixed;
        right: 20px;
        bottom: 20px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        color: #666;
        cursor: pointer;
        .iconfont {
            font-size: 18px;
        }
        &:hover,
        &:active {
            background: #f5f6f7;
            color: #0c94d7
        }
    }
    /*底部备案号*/
    
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        line-height: 40px;
        font-size: 12.5px;
        color: #b2b2b2;
        box-shadow: 0 -1px 5px rgba(0, 0, 0, .1);
        border-top: 1px solid rgba(0, 0, 0, .1);
    }
    /* 登录对话框开始 */
    
    .login {
        .fixed_position {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        .login_mask {
            z-index: 99;
            background-color: rgba(0, 0, 0, 0.5);
        }
        .login_dialog {
            z-index: 100;
            margin: auto;
            box-sizing: border-box;
            padding: 30px 0;
            width: 380px;
            height: 240px;
            background: #fff;
            border-radius: 8px;
        }
        .blog_name {
            font-family: 'Audiowide', cursive;
            font-size: 30px;
            color: #000000;
            text-align: center;
        }
        .login_title {
            width: 340px;
            margin: 20px auto 30px;
            @include flexbox;
            @include align-items(center);
            &::before,
            &::after {
                content: '';
                @include flex(1);
                height: 1px;
                background-color: #e5e5e5;
            }
            span {
                font-size: 14px;
                color: #bababa;
                padding: 0 8px;
            }
        }
        .login_methods {
            @include flexbox;
            @include justify-content(center);
        }
        .login_method {
            width: 60px;
            height: 60px;
            margin: 0 8px;
            cursor: pointer;
            overflow: hidden;
            border-radius: 50%;
        }
        .weibo {
            background: url('http://img.dobit.top/sprite.png') -60px 0px no-repeat;
            background-size: 120px 120px;
        }
        .qq {
            background: url('http://img.dobit.top/sprite.png') 0px -60px no-repeat;
            background-size: 120px 120px;
        }
        .baidu {
            background: url('http://img.dobit.top/sprite.png') -60px -60px no-repeat;
            background-size: 120px 120px;
        }
        .wx {
            background: url('http://img.dobit.top/sprite.png') 0px 0px no-repeat;
            background-size: 120px 120px;
        }
        .close_login_dialog {
            position: absolute;
            top: 5px;
            right: 10px;
            width: 20px;
            height: 20px;
            text-align: center;
            cursor: pointer;
            .iconfont {
                font-size: 20px;
            }
        }
    }
    /* 页面loading */
    
    .spinner {
        margin: 120px auto;
        width: 50px;
        height: 60px;
        text-align: center;
        font-size: 10px;
        div {
            display: inline-block;
            margin-right: 3px;
            height: 100%;
            width: 6px;
            border-radius: 2px;
            background-color: #666666;
            -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
            animation: stretchdelay 1.2s infinite ease-in-out;
        }
        .rect2 {
            animation-delay: -1.1s;
        }
        .rect3 {
            animation-delay: -1.0s;
        }
        .rect4 {
            animation-delay: -0.9s;
        }
        .rect5 {
            animation-delay: -0.8s;
        }
        @keyframes stretchdelay {
            0%,
            40%,
            100% {
                transform: scaleY(0.4);
                -webkit-transform: scaleY(0.4);
            }
            20% {
                transform: scaleY(1.0);
                -webkit-transform: scaleY(1.0);
            }
        }
    }
    /*左侧、中间和右侧根据屏幕自适应*/
    
    // pc
    @media screen and (min-width:980px) and (max-width:1167px) {
        .page_container {
            max-width: 970px;
        }
        .content {
            .side_left {
                display: none;
            }
        }
    } //mobile
    @media screen and (max-width: 979px) {
        .only_pc_show {
            display: none;
        }
        .only_mobile_show {
            display: block;
        }
        .header_fix {
            padding-top: 55px;
        }
        .page_container {
            max-width: 670px;
        }
        .content {
            .side_left {
                display: none;
            }
            .main {
                max-width: 670px;
            }
            .side_right {
                display: none;
            }
        }
        .comment .comment_input input {
            width: 100%;
        }
        .footer {
            background: #222;
        }
    } //mobile
    @media screen and (max-width:767px) {
        .page_container {
            padding-left: 15px;
            padding-right: 15px;
        }
        .content {
            .main {
                max-width: 100%;
            }
        }
    }
    /*中间文章列表根据屏幕自适应*/
    
    @media screen and (max-width:768px) {
        .articles {
            .articles_img_container {
                width: 150px;
                height: 100px;
            }
            .articles_img {
                max-width: 150px;
                max-height: 110px;
            }
            .articles_describe {
                height: 100px;
            }
            .articles_name {
                -webkit-line-clamp: 1;
                margin-bottom: 7px;
            }
            .articles_content {
                margin-bottom: 10px;
                -webkit-line-clamp: 3;
            }
            .articles_tags {
                margin-top: 0;
                padding-top: 0;
                border-top: none;
            }
            .artticles_read {
                display: none;
            }
        }
    } //mobile
    @media screen and (max-width:414px) {
        .content {
            margin-top: 15px;
        }
        .articles {
            .articles_item {
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
            .articles_img_container {
                width: 105px;
                height: 70px;
                margin-right: 15px;
            }
            .articles_img {
                max-width: 105px;
                max-height: 70px;
            }
            .articles_describe {
                height: 70px;
            }
            .center_title {
                display: none;
            }
            .articles_name {
                height: 26px;
                margin-bottom: 3px;
            }
            .articles_content {
                margin-bottom: 0;
                color: #b2b2b2;
                font-size: 13px;
                line-height: 1.125;
                -webkit-line-clamp: 3;
            }
            .articles_tags {
                display: none;
            }
        }
    }